/* General */
body 
{text-align:center; margin:0px; font-size:12px;font-family:Arial,sans-serif;color:rgb(80,80,80);}

.pad10 
{ padding:10px;} 

.sponsorCompanies { 
	width:160px;
	border: #cccccc 1px solid;
	background-color:#F1F5F8;
	display:block;
	padding:5px;
}
#sponsorCompany {
 margin-bottom:10px;
 border: #cccccc 1px solid;
 background-color:#ffffff;
 padding:5px;
}

.sectionheader 
{font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#666666; font-weight: bold;}

.small 
{font-size:11px;}

.searchBoxInputLabels 
{font-family:Arial, sans-serif; font-size:12px; color:#505050; font-weight: bold;}

.guidedSearchText {
	font-size:12px; 
	color:#000000;
	padding-bottom:2px;;
}

.guidedSearchTitles {
        font-size:12px;
        color:#505050;
        font-family:Arial, sans-serif;
        font-weight:bold;
}

.viewLabels
{font-family:Arial, sans-serif; font-size:10px; color:#505050;}

.pageTitle 
{ font-size:16px; color:#4D4C4C; font-weight:bold;}

a
{font-family: Arial,  sans-serif; color: #004CCA; font-weight: normal; text-decoration: underline;}
a:link 
{font-family: Arial,  sans-serif; color: #004CCA; font-weight: normal; text-decoration: underline;}
a:active 
{font-family: Arial,  sans-serif; color: #004CCA; font-weight: normal; text-decoration: underline;}
a:visited 
{font-family: Arial,  sans-serif;; color: #742289; font-weight: normal; text-decoration: underline;}
a:hover 
{font-family: Arial,  sans-serif; color: #004CCA; font-weight: normal; text-decoration: underline;}

/* Revised Table */
.briefRow td {
 padding-top: 6px;
 padding-right: 10px;
}

.briefRow td.lastChild {
 padding-right: 0px;
}

.briefSave td {
 padding-bottom: 7px;
 border-bottom:1px solid #CCCCCC;
}

.detailRow td {
 padding-top: 10px;
 padding-right: 10px;
}

.detailRow td.lastChild {
 padding-right: 0px;
}

.detailSave td {
 padding-bottom: 11px;
 border-bottom: 1px solid #CCCCCC;
}

.swAds p {
 font-size: 10px;
 line-height: 100%;
 margin: 2px 0px 0px 0px;
}
.swAds a {
 font-family: "Verdana", "Sans";
 text-decoration: none;
}
.swAds a:hover {
 font-family: "Verdana", "Sans";
 text-decoration: underline;
}
.swAds img {
 float: left;
 padding-right: 7px;
}


/* Table */
.tableColumnHeader 
{background-color:#128CCB;padding: 4px 4px 4px 4px;}

.searchResultsJobDescription 
{color:#666666;}

.searchResultsSourceText
{color:#339933;}

a.tableColumnHeaderText 
{font-family: Arial,  sans-serif; font-size: 12px; color: #ffffff; font-weight: normal; text-decoration: underline;}
a.tableColumnHeaderText:link 
{font-family: Arial,  sans-serif; font-size: 12px; color: #ffffff; font-weight: normal; text-decoration: underline;}
a.tableColumnHeaderText:active 
{font-family: Arial,  sans-serif; font-size: 12px; color: #ffffff; font-weight: normal; text-decoration: underline;}
a.tableColumnHeaderText:visited 
{font-family: Arial,  sans-serif; font-size: 12px; color: #ffffff; font-weight: normal; text-decoration: underline;}
a.tableColumnHeaderText:hover 
{font-family: Arial,  sans-serif; font-size: 12px; color: #ffffff; font-weight: normal; text-decoration: underline;}

a.inlineCommand:link 
{font-family: Arial,  sans-serif; color: #8284CC; text-decoration: underline; font-size: 12px;}
a.inlineCommand:active 
{font-family: Arial,  sans-serif; color: #8284CC; text-decoration: underline; font-size: 12px;}
a.inlineCommand:visited
{font-family: Arial,  sans-serif; color: #8284CC; text-decoration: underline; font-size: 12px;}
a.inlineCommand:hover 
{font-family: Arial,  sans-serif; color: #8284CC; text-decoration: underline; font-size: 12px;}

/* Tabs */
.tab {
 background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/tab.gif) repeat-x;
 font-weight: normal;
 font-size: 13px;
 text-align:center;
 padding-left:11px;
 padding-right:11px;
}
.tabSel {
 background:  url("http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/tab_sel.gif") repeat-x;
 font-weight: normal;
 text-align:center;
 padding-left:11px;
 padding-right:11px;
 font-size: 13px;	
}

.tabRightArea {
 border-bottom: #0E8CC9 1px solid;
}

/* Employer Widget */
.employerWidgetCenter {
	background: transparent url("http://us.i1.yimg.com/us.yimg.com/i/us/hj/el/employer_widget_center.gif") repeat-x scroll 0% 0%;
 padding-left:5px;
	padding-right:7px;
	height:42px;
 color: rgb(254, 241, 68);
	font-weight:normal;
}

.employerWidgetCenter *, .employerWidgetCenter a:link, .employerWidgetCenter a:active, .employerWidgetCenter a:visited, .employerWidgetCenter a:hover
{font-family: Arial, sans-serif; color: #ffffff; text-decoration: underline; font-size:11px;}

.employerWidgetCenter a:hover
{color: yellow;}

.employerWidgetCenter a.employerWidgetTitle:link, .employerWidgetCenter a.employerWidgetTitle:active, .employerWidgetCenter a.employerWidgetTitle:visited, .employerWidgetCenter a.employerWidgetTitle:hover
{font-size: 14px; text-decoration: none; color: #ffffff;}

.employerWidgetCenter a.employerWidgetTitle:hover
{text-decoration: underline; color: yellow;}

/* Links */
a.tabLinkSel:link 
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: none; font-size:13px;}
a.tabLinkSel:active
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: none; font-size:13px;}
a.tabLinkSel:visited
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: none; font-size:13px;}
a.tabLinkSel:hover 
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: underline; font-size:13px;}

a.tabLink:link 
{font-family: Arial,  sans-serif; color: #ffffff; font-weight: normal; text-decoration: none; font-size:13px;}
a.tabLink:active
{font-family: Arial,  sans-serif; color: #ffffff; font-weight: normal; text-decoration: none; font-size:13px;}
a.tabLink:visited
{font-family: Arial,  sans-serif; color: #ffffff; font-weight: normal; text-decoration: none; font-size:13px;}
a.tabLink:hover 
{font-family: Arial,  sans-serif; color: #ffffff; font-weight: normal; text-decoration: underline; font-size:13px;}

a.subTabLinkSel:link 
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: none; font-size:12px;}
a.subTabLinkSel:active
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: none; font-size:12px;}
a.subTabLinkSel:visited
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: none; font-size:12px;}
a.subTabLinkSel:hover 
{font-family: Arial,  sans-serif; color: #000000; font-weight: bold; text-decoration: underline; font-size:12px;}

a.subTabLink:link 
{font-family: Arial,  sans-serif; font-weight: normal; text-decoration: underline; font-size:12px;}
a.subTabLink:active
{font-family: Arial,  sans-serif; font-weight: normal; text-decoration: underline; font-size:12px;}
a.subTabLink:visited
{font-family: Arial,  sans-serif; font-weight: normal; text-decoration: underline; font-size:12px;}
a.subTabLink:hover 
{font-family: Arial,  sans-serif; font-weight: normal; text-decoration: underline; font-size:12px;}

/* Buttons */
input[type=button], input[type=submit] {
 cursor: pointer;
}
.buttonorange75, .buttongray75, .buttongray120, .buttongray150, .buttongray, .buttonyellow75
{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;margin:0px;padding:0px;border:none;}

.buttonorange75
{font-size:12px;color:#FFFFFF;background-color:transparent;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/orange_tr_75x.gif);height:22px;width:75px;cursor:pointer;}

.buttongray75
{font-size:12px;color:#505050;background-color:transparent;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/platinum_tr_75x.gif);height:22px;width:75px;} .buttongray120{font-size:12px;color:#505050;background-color:transparent;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/platinum_tr_125x.gif);height:22px;width:120px;} .buttongray150{font-size:12px;color:#505050;background-color:transparent;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/platinum_tr_150x.gif);height:22px;width:150px;cursor:pointer;} .buttongray{font-size:12px;color:#505050;background-color:transparent;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/platinum_tr_100x.gif);height:22px;width:100px;cursor:pointer;}

.buttonorange75, .button50, .buttonblue100, .buttonblue150, .buttonblue200, .buttongray75, .buttongray120, .buttongray150, .buttongray, .buttonyellow75
{font-family:Helvetica,sans-serif;font-weight:bold;margin:0px;padding:0px;border:none;} 
 
.buttonblue100
{font-size:12px;color:#FFFFFF;background-color:transparent;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/orange_tr_100x.gif);height:22px;width:100px;cursor:pointer;} 

.buttonblue150
{font-size:12px;color:#FFFFFF;background-color:transparent;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/orange_tr_150x.gif);height:22px;width:150px;cursor:pointer;}
 
/* Home Page */
.homePageSearchArea
{
 background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/hm_searchbox_gradient.gif) repeat-x;
 padding:6px 10px 10px 10px; 
 border-left: #cccccc 1px solid;
 border-right: #cccccc 1px solid;
 border-bottom: #cccccc 1px solid;
}

#homePageMyHJ
{
 border-left: #cccccc 1px solid;
 border-right: #cccccc 1px solid;
 border-bottom: #cccccc 1px solid;
}

#homePageCareerTools
{
 border: #cccccc 1px solid;
 width:inherit;
}

 
/* Guided Search */
.guidedSearchTitle 
{ font-size:16px; color:#138ACC;}

#guidedSearchTitle { 
	width:160px;
	height:40px;
	top:197px; 
	left:5px;

	background-color:#ffffff; 
	z-index:5;
	display:block;
} 

#guidedSearchRefinedBy { 
	width:160px;
	display:block;

}

/* SRP Search Box */
.ccc_t {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_ln.gif) 0 0 repeat-x; background-color:#F1F5F8;}
.ccc_b {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_ln.gif) 0 100% repeat-x;}
.ccc_l {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_ln.gif) 0 0 repeat-y;}
.ccc_r {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_ln.gif) 100% 0 repeat-y;}
.ccc_bl {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_bl.gif) 0 100% no-repeat;}
.ccc_br {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_br.gif) 100% 100% no-repeat;}
.ccc_tr {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_tr.gif) 100% 0 no-repeat;}
.ccc_tl {background: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/gr/ccc_tl.gif) 0 0 no-repeat;}


/* 100% document layout */
#docFull { 
 width:98%;
 min-width:750px;
 text-align:left;
 margin:0 auto;
 background-color:#ffffff
} 

#topYahooBarFull { 
 margin-bottom:0px;
 width:100%;
 background-color:#ffffff; 
} 

#tabBarFull { 
 margin-bottom:10px;
 width:100%;
 background-color:#ffffff; 
} 

#searchBarFull { 
 width:100%;
 margin-top:20px;
 margin-bottom:20px;
} 

#mainContentFull { 
 width:100%;
 background-color:#ffffff; 
} 

/* 750px centered document layout */
#doc { 
 width:750px; 
 text-align:left;
 margin:0 auto;
 background-color:#ffffff; 
} 

#topYahooBar { 
 width:inherit;
 background-color:#ffffff; 
} 

#tabBar { 
 margin-bottom:10px;
 width:inherit;
 background-color:#ffffff; 
} 

#mainContent { 
 width:inherit;
 background-color:#ffffff; 
}

#error{
 font-family:Verdana,Helvetica,sans-serif;
 font-size:11px;
 color:#FF0000;
 margin-bottom:10px;
}

img { border:0; } 

/* CSS Document */

